<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row" >
      <app-breadcrumb class="col-12 content-header-title" [title]="true" [action]="false" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body ">
      <form class="form" [formGroup]="addOrEditSite">
        <div class="row">
          <div class="col-md-12">
            <div  class="card" *blockUI="'addSite'; message: 'Loading'"  >
              <div class="card-title titleStyle" >
                Site Details
              </div>
              <div class="card-body"   >
                  <div class="form-body"  >
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <span class="p-float-label">
                            <input id="float-inputD2" class="form-control" type="text" formControlName="site_id" pInputText> 
                            <label for="float-inputD2">Site ID</label>
                          </span>
                          
                          <div *ngIf="addOrEditSite.controls.site_id.errors && addOrEditSite.controls.site_id.dirty" style="margin-top:8px;" class="invalid-feedback1">
                            <div *ngIf="addOrEditSite.controls.site_id.errors['maxlength'] ">Maximum 30 characters</div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <span class="p-float-label">
                            <input id="float-inputD1" class="form-control" type="text" formControlName="siteName" pInputText > 
                            <label for="float-inputD1">Site Name</label>
                          </span>

                          <div *ngIf="addOrEditSite.controls.siteName.errors && addOrEditSite.controls.siteName.dirty" style="margin-top:8px;" class="invalid-feedback1">
                            <div *ngIf="addOrEditSite.controls.siteName.errors['maxlength'] ">Maximum 100 characters</div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group p-float-label">
                          <p-dropdown  inputId="drop21"  [autoDisplayFirst]="false" [style]="{'width':'100%'}" [options]="shipping_depots"   formControlName="ShipmentDepot"  optionLabel="NAME" optionValue='ID' ></p-dropdown>
                          <label for="drop21">Select a Shipping Depot</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group p-float-label">
                          <p-dropdown  inputId="drop22"  [autoDisplayFirst]="false" [style]="{'width':'100%'}" [options]="destruction_depots"   formControlName="SDF"  optionLabel="NAME" optionValue='ID' ></p-dropdown>
                          <label for="drop22">Select a Destruction Depot</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group p-float-label">
                          <p-dropdown  inputId="drop23"  [autoDisplayFirst]="false" [style]="{'width':'100%'}" [options]="inhouse_types"   formControlName="SIDF"  optionLabel="LIBRARY_VALUE" optionValue='LIBRARY_ID' ></p-dropdown>
                          <label for="drop23">Select a Insite Destruction</label>
                          <div *ngIf="addOrEditSite.controls.SIDF.errors && addOrEditSite.controls.SIDF.touched" style="margin-top:8px;" class="invalid-feedback1">
                            <div *ngIf="addOrEditSite.controls.SIDF.valid ">Field is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group p-float-label">
                          <p-dropdown  inputId="drop24"  [autoDisplayFirst]="false" [style]="{'width':'100%'}" [options]="timeZones"   formControlName="timezone"  optionLabel="DisplayName" optionValue='Id' ></p-dropdown>
                          <label for="drop24">Select a Time Zone</label>
                          <div *ngIf="addOrEditSite.controls.timezone.errors && addOrEditSite.controls.timezone.touched" style="margin-top:8px;" class="invalid-feedback1">
                            <div *ngIf="addOrEditSite.controls.timezone.valid ">Field is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <span class="p-float-label">
                            <textarea id="float-input3" rows="3" cols="50" required class="form-control"  formControlName="address" pInputTextarea> </textarea>
                            <label for="float-input3">Site Address</label>
                          </span>
                          <div *ngIf="addOrEditSite.controls.address.errors && addOrEditSite.controls.address.dirty" style="margin-top:8px;" class="invalid-feedback1">
                            <div *ngIf="addOrEditSite.controls.address.errors['required'] ">Field is required</div>
                            <div *ngIf="addOrEditSite.controls.address.errors['maxlength'] ">Maximum 150 characters</div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <span class="p-float-label">
                            <textarea id="float-input3" rows="3" cols="50" required class="form-control"  formControlName="Description" pInputTextarea> </textarea>
                            <label for="float-input3">Description</label>
                          </span>
                          <div *ngIf="addOrEditSite.controls.Description.errors && addOrEditSite.controls.Description.dirty" style="margin-top:8px;" class="invalid-feedback1">
                            <div *ngIf="addOrEditSite.controls.Description.errors['required'] ">Field is required</div>
                            <div *ngIf="addOrEditSite.controls.Description.errors['maxlength'] ">Maximum 150 characters</div>
                          </div>                       
                        </div>
                      </div>
                    </div>

                  </div>
              </div>
            </div>
          </div>

        </div>
      <div class="row" >
        <div class="col-md-12"  >
          <div  class="card" *blockUI="'addDepot'; message: 'Loading'"  >
            <div class="card-title titleStyle" >
              Contact Details
            </div>
            <div class="card-body"   >
                <div class="form-body"  >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <input id="float-input1" class="form-control" type="text" formControlName="firstName" pInputText > 
                          <label for="float-input1">First Name</label>
                        </span>

                        <div *ngIf="addOrEditSite.controls.firstName.errors && addOrEditSite.controls.firstName.dirty" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.firstName.errors['required'] ">First Name is required</div>
                          <div *ngIf="addOrEditSite.controls.firstName.errors['maxlength'] ">Maximum 15 characters</div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <input id="float-input2" class="form-control" type="text" formControlName="lastname" pInputText> 
                          <label for="float-input2">Last Name</label>
                        </span>
                        
                        <div *ngIf="addOrEditSite.controls.lastname.errors && addOrEditSite.controls.lastname.dirty" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.lastname.errors['required'] ">Last name is required</div>
                          <div *ngIf="addOrEditSite.controls.lastname.errors['maxlength'] ">Maximum 15 characters</div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <textarea id="float-input3" rows="3" cols="50" required class="form-control"  formControlName="address1" pInputTextarea> </textarea>
                          <label for="float-input3">Address 1</label>
                        </span>
                        <div *ngIf="addOrEditSite.controls.address1.errors && addOrEditSite.controls.address1.dirty" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.address1.errors['required'] ">Field is required</div>
                          <div *ngIf="addOrEditSite.controls.address1.errors['maxlength'] ">Maximum 100 characters</div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <textarea id="float-input4" rows="3" cols="50" required class="form-control"  formControlName="address2" pInputTextarea> </textarea>
                          <label for="float-input4">Address 2</label>
                        </span>
                        <div *ngIf="addOrEditSite.controls.address2.errors && addOrEditSite.controls.address2.dirty" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.address2.errors['required'] ">Field is required</div>
                          <div *ngIf="addOrEditSite.controls.address2.errors['maxlength'] ">Maximum 100 characters</div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-6">
                      <div class="form-group p-float-label">
                        <p-dropdown inputId="drop34"  [autoDisplayFirst]="false"  (onChange)="countryChanged(addOrEditSite.controls.country.value)" [style]="{'width':'100%'}" [options]="countries"   formControlName="country"  optionLabel="LIBRARY_VALUE" optionValue='LIBRARY_ID'></p-dropdown>
                        <label for="drop34">Select Country</label>
                        <div *ngIf="addOrEditSite.controls.country.errors && addOrEditSite.controls.country.touched" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.country.errors['required'] ">Field is required</div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <input id="float-input0" class="form-control" type="text" formControlName="state" pInputText> 
                          <label for="float-input0">State</label>
                        </span>
                        <div *ngIf="addOrEditSite.controls.state.errors && addOrEditSite.controls.state.touched" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.state.errors['required'] ">Field is required</div>
                          <div *ngIf="addOrEditSite.controls.state.errors['maxlength'] ">Maximum 30 characters</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <input id="float-input0" class="form-control" type="text" formControlName="city" pInputText> 
                          <label for="float-input0">City</label>
                        </span>
                        <div *ngIf="addOrEditSite.controls.city.errors && addOrEditSite.controls.city.touched" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.city.errors['required'] ">Field is required</div>
                          <div *ngIf="addOrEditSite.controls.city.errors['maxlength'] ">Maximum 30 characters</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <input id="float-input5" class="form-control" type="text" formControlName="zipCode" pInputText> 
                          <label for="float-input5">Zip Postal Code</label>
                        </span>
                        <div *ngIf="addOrEditSite.controls.zipCode.errors && addOrEditSite.controls.zipCode.dirty" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.zipCode.errors['required'] ">Field is required</div>
                          <div *ngIf="addOrEditSite.controls.zipCode.errors['maxlength'] ">Maximum 30 characters</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-6">
                      <span class="p-float-label">
                        <input id="float-input6" class="form-control" type="text" formControlName="emailId" pInputText> 
                        <label for="float-input6">Email</label>
                      </span>
                      <div *ngIf="addOrEditSite.controls.emailId.errors && addOrEditSite.controls.emailId.dirty" style="margin-top:8px;" class="invalid-feedback1">
                        <div *ngIf="addOrEditSite.controls.emailId.errors['required'] ">Field is required</div>
                        <div *ngIf="addOrEditSite.controls.emailId.errors['maxlength'] ">Maximum 50 characters</div>
                        <div *ngIf="addOrEditSite.controls.emailId.errors['email'] ">Enter Valid Email Address</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="p-float-label">
                          <input id="float-input9" class="form-control" type="text" formControlName="phno" pInputText> 
                          <label for="float-input9">Contact Number</label>
                        </span>
                        <div *ngIf="addOrEditSite.controls.phno.errors && addOrEditSite.controls.phno.dirty" style="margin-top:8px;" class="invalid-feedback1">
                          <div *ngIf="addOrEditSite.controls.phno.errors['required'] ">Field is required</div>
                          <div *ngIf="addOrEditSite.controls.phno.errors['maxlength'] ">Maximum 15 characters</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions" style="padding:20px 0 0 0">
                  <button type="button" pButton (click)="resetForm()" class=" p-button-warning mr-2">
                    <i class="feather ft-x"></i> Reset
                  </button>
                  <button type="submit" pButton  (click)="saveSite()" [disabled]="addOrEditSite.invalid" class="p-button-success">
                    <i class="feather ft-check"></i> {{submitButton}}
                  </button>
                </div>
              </div>
              </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
