<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row ">
            <app-breadcrumb class="col-12 content-header-title" [title]="true" [action]="false" [breadcrumb]="breadcrumb"></app-breadcrumb>
        </div>
        <div class="content-body" style="margin-bottom:32px" *blockUI="'siteStatus'; message: 'Loading'">
            <p-table #siteStatus [columns]="selectedColumns" editMode="row" [value]="sites" dataKey="SITE_ID" [rows]="6" [exportFilename]="'sites'"  [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[6,12,18]" styleClass="p-datatable-striped"
            [paginator]="sites?.length>0" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="colum">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <i *ngIf="sites.length>0" class="pi pi-search"></i>
                        <input *ngIf="sites.length>0" pInputText type="text" (input)="siteStatus.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="border-bottom: 1px solid black !important;">
                    <th pSortableColumn="{{col.field}}" class="marginRight"  *ngFor="let col of columns">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            {{col.header}}
                            <p-sortIcon field="{{col.field}}"></p-sortIcon>
                            <p-columnFilter type="text" field="{{col.field}}"  placeholder="Search "  display="menu" class="p-mr-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th style="color: #176d98;">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-depot let-columns="columns"  let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="depot" class="p-selectable-row">
                    <td>
                        <span class="p-column-title">Depot Id</span>
                        {{depot.SITE_ID}}
                    </td>
                    <td>
                        <span class="p-column-title">Depot Name</span>
                        {{depot.SITE_NAME}}
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="depot_status" [(ngModel)]="depot.SITESTATUS" [style]="{'width':'80%'}" optionLabel="LIBRARY_VALUE" optionValue="LIBRARY_VALUE"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{depot.SITESTATUS}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="supply_status" [(ngModel)]="depot.SUPPLYSTATUS" [style]="{'width':'80%'}" [disabled]="depot.SITESTATUS=='Inactive'" optionLabel="LIBRARY_VALUE" optionValue="LIBRARY_VALUE"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{depot.SUPPLYSTATUS}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="open_status" [(ngModel)]="depot.SCREENINGSTATUS" [style]="{'width':'80%'}" [disabled]="depot.SITESTATUS=='Inactive'" optionLabel="LIBRARY_VALUE" optionValue="LIBRARY_VALUE"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{depot.SCREENINGSTATUS}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="open_status" [(ngModel)]="depot.RANDOMSTATUS" [style]="{'width':'80%'}" [disabled]="depot.SITESTATUS=='Inactive'" optionLabel="LIBRARY_VALUE" optionValue="LIBRARY_VALUE"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{depot.RANDOMSTATUS}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <span class="p-column-title">Action</span>
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" pTooltip="Edit depot Status" tooltipPosition="bottom" (click)="onRowEditInit(depot)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(depot,ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(depot, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        <!-- <button pButton pRipple icon="pi pi-pencil"  pTooltip="Edit depot" tooltipPosition="bottom" class="p-button-rounded p-button-info " (click)="editdepot(depot)"></button> -->
                    </td>
                </tr>
            </ng-template>
        
            </p-table>
            <div class="caption1 nodata" *ngIf="sites.length<=0">
                "No Site list found."
            </div>
        </div>
    </div>
</div>