<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row ">
      </div>
      <div class="content-body ">
        <section class="row flexbox-container">
          <div class="col-12  d-flex align-items-center justify-content-center" >
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
              <div class="card box border-grey border-lighten-3 px-2 py-2 m-0" style="box-shadow: 0px 1px 15px 1px #176d98;">
                <div class="card-header border-0 pb-0" style="padding: 0;">
                  <div class="card-title text-center">
                    <img src="../../../../../assets/images/logo/logo-dark.png" alt="branding logo">
                  </div>
                </div>
                <div class="card-content">
                  <div class="card-body" >
                    <form class="form form-horizontal"  [formGroup]="sendPasswordForm" >
                        <h4 class="form-section">    
                            <i class="la la-unlock"></i>
                            <span style="font-weight: bold;color: #176d98;">Forgot Password</span> 
                        </h4>
                        <div class="form-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group ">
                                      <span class="p-float-label p-input-icon-left" style="display: block !important;">
                                          <i class="pi pi-envelope"></i>
                                          <input type="text" (keyup)="removeToast()" formControlName="email" pInputText class="form-control" 
                                          id="user-name" placeholder="Your Email Address" required>                                   
                                      </span>
                                      <div *ngIf="sendPasswordForm.controls.email.dirty && sendPasswordForm.controls.email.errors" class="invalid-feedback1">
                                          <div *ngIf="sendPasswordForm.controls.email.errors.required">Username is required</div>
                                          <div *ngIf="sendPasswordForm.controls.email.errors.maxlength">Maximum length is 50 characters</div>
                                          <div *ngIf="sendPasswordForm.controls.email.errors['email'] ">Enter Valid Email Address</div>

                                        </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      <button [disabled]="sendPasswordForm.invalid && !submitted" (click)="sendPassword()" class="btn btn-outline-info btn-block">
                        <i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
                        <i class="feather ft-unlock" *ngIf="!submitted"></i> 
                        Send Password
                        </button>
                    </form>
                  </div>

                </div>
                <div class="card-footer border-0" *ngIf="!submitted">
                  <p class="float-sm-left text-center"><a href="javascript:void(0)" [routerLink]="['/login']"
                      class="card-link">Login</a></p>
                 
                </div>
              </div>
            </div>
          </div>
        </section>
  
      </div>
    </div>
  </div>
  