<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body ">
      <section class="row flexbox-container">
        <div class="col-12  d-flex align-items-center justify-content-center" >
          <div class="col-lg-4 col-md-8 col-10  p-0">
            <div class="card box border-grey border-lighten-3 " style="box-shadow: 0px 1px 15px 1px #176d98;">
                <div class="card-header border-0 pb-0" style="padding: 0;">
                  <div class="card-title text-center">
                    <img src="../../../../../assets/images/logo/logo-dark.png" alt="branding logo">
                  </div>
                </div>
                <div class="card-content">
                  <div class="card-body" >
                    <form class="form form-horizontal" [formGroup]="setPasswordForm" >
                      <h4 class="form-section">    
                          <i class="la la-unlock"></i>
                          <span style="font-weight: bold;color: #176d98;">Set Password</span> 
                      </h4>
                      <div class="form-body">
                        <h5><i class="la la-arrow-right"></i> Enter Old Password</h5>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group ">
                                  <span class="p-float-label p-input-icon-right" style="display: block !important;">
                                      <i class="pi pi-key" style="padding-left: 0.75rem;"></i>
                                      <input (keyup)="removeToast()" [type]="passwordType1" placeholder="Enter Password" formControlName="oldPassword" style="padding-left: 2.5rem;" pInputText class="form-control" />
                                      <i class=" pi  pi-eye" *ngIf="passwordType1=='password'" (click)="toggleLoginInput1()" style="cursor: pointer;"></i>
                                      <i class=" pi  pi-eye-slash" *ngIf="passwordType1=='text'" (click)="toggleLoginInput1()" style="cursor: pointer;"></i>
                                  </span>
                                  <div *ngIf="setPasswordForm.controls.oldPassword.dirty && setPasswordForm.controls.oldPassword.errors" class="invalid-feedback1">
                                      <div *ngIf="setPasswordForm.controls.oldPassword.errors.required">Password is required</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <h5><i class="la la-arrow-right"></i> Enter New Password</h5>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group ">
                                  <span class="p-float-label p-input-icon-right" style="display: block !important;">
                                      <i class="pi pi-key" style="padding-left: 0.75rem;"></i>
                                      <input (keyup)="removeToast()" [type]="passwordType2" placeholder="Enter New Password" formControlName="newPassword" style="padding-left: 2.5rem;" pInputText class="form-control" />
                                      <i class=" pi  pi-eye" *ngIf="passwordType2=='password'" (click)="toggleLoginInput2()" style="cursor: pointer;"></i>
                                      <i class=" pi  pi-eye-slash" *ngIf="passwordType2=='text'" (click)="toggleLoginInput2()" style="cursor: pointer;"></i>
                                  </span>
                                  <div *ngIf=" setPasswordForm.controls.newPassword.invalid && setPasswordForm.controls.newPassword.dirty" style="margin-top:8px;" class="invalid-feedback1">
                                    <div *ngIf="setPasswordForm.controls.newPassword.hasError('minlength') "> <i class="la la-times-circle"></i><span>Password Must be atleast 8 characters required</span></div>
                                    <div *ngIf="setPasswordForm.controls.newPassword.hasError('maxlength') "><i class="la la-times-circle"></i>Password should be maximum 16 characters required</div>
                                    <div *ngIf="setPasswordForm.controls.newPassword.hasError('hasNumber') "><i class="la la-times-circle"></i>Password should contain atleast 1 number</div>
                                    <div *ngIf="setPasswordForm.controls.newPassword.hasError('hasCapitalCase') "><i class="la la-times-circle"></i>Password should contain atleast 1 Capital letter</div>
                                    <div *ngIf="setPasswordForm.controls.newPassword.hasError('hasSmallCase') "><i class="la la-times-circle"></i>Password should contain atleast 1 Small Letter</div>
                                    <div *ngIf="setPasswordForm.controls.newPassword.hasError('hasSpecialCharacters') "><i class="la la-times-circle"></i>Password should contain atleast 1 Special character</div>
                                    <div *ngIf="setPasswordForm.controls.newPassword.errors['required'] ">Password is required</div>

                                </div>
                              </div>
                          </div>
                        </div>
                        <h5><i class="la la-arrow-right"></i> Confirm New Password</h5>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group ">
                                  <span class="p-float-label p-input-icon-right" style="display: block !important;">
                                      <i class="pi pi-key" style="padding-left: 0.75rem;"></i>
                                      <input (keyup)="removeToast()" [type]="passwordType3" placeholder="Confirm Password" formControlName="confirmPassword" style="padding-left: 2.5rem;" pInputText class="form-control" />
                                      <i class=" pi  pi-eye" *ngIf="passwordType3=='password'" (click)="toggleLoginInput3()" style="cursor: pointer;"></i>
                                      <i class=" pi  pi-eye-slash" *ngIf="passwordType3=='text'" (click)="toggleLoginInput3()" style="cursor: pointer;"></i>
                                  </span>
                                  <div *ngIf=" setPasswordForm.controls.confirmPassword.invalid && setPasswordForm.controls.confirmPassword.dirty" style="margin-top:8px;" class="invalid-feedback1">
                                    <div *ngIf="setPasswordForm.controls.confirmPassword.hasError('required') ">Password is required</div>
                                    <div  *ngIf="setPasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch')" ><i class="la la-times-circle"></i>Passwords do not match</div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" (click)="setPassword()" [disabled]="setPasswordForm.invalid  && !submitted" class="btn btn-info  btn-block">
                        <i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
                        <i class="feather ft-unlock" *ngIf="!submitted"></i> 
                            Set Password
                      </button>
                    </form>
                  </div>
                </div>
              <div class="card-footer border-0" *ngIf="!passwordSubmitted" style="padding-top: 0px;">
                <p class="float-sm-left text-center"><a [routerLink]="['/login']"
                    class="card-link">Login</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
  